.cart-btn{
    width:250px;
    height: 40px;
    padding: 3px auto;
    margin: 12px auto;
    border-radius: 5rem;
    color:aliceblue;
    background-color:#ab3154;
    border-color: rgb(230, 230, 17);
    font-weight: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing:0.2rem;
}

.cart-btn-1{
    border-radius: 1rem;
    background-color:rosybrown;
    width:40px;
    border-style: none;
    padding: 2px;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 14px;
    
    
}

