.btn{
    width:100px;
    height: 40px;
    padding: 2px;
    margin: 2px auto;
    border-radius: 5rem;
    color:aliceblue;
    background-color:#ab3154;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

